

.wrapper {
    display: flex;
    width: 100%;
}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}



::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #563d7c; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #343a40; 
  border-radius:10px;
  

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #563d7c linear-gradient(180deg, #6f5a90, #563d7c) repeat-x;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 10px 0 15px -7px #888;
    
}

#sidebar .sidebar-header {
    padding: 15px 15px 5px 15px;
    background: #563d7c;
}

#sidebar ul.components {
    padding: 20px 0;
    
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #563d7c;
    background: #fff;
}

#sidebar > ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #563d7c;
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    
    background: #563d7c;
}

#sidebar.active {
  margin-left: -250px;
  box-shadow: 0 0 0; }


#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e8e8e8;
}

#content a[aria-expanded="true"] {
    color: #fff;
    background: #333;
}

#content.active {width: 100%;}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        box-shadow: 0 0 0;
    }
    #sidebar.active {
        margin-left: 0;
        box-shadow: 10px 0 15px -7px #888;
    }
    #content {
        width: 100%;
        position: relative;
    }
    /* #content.active {
transform: translateX(250px);
    } */
    #sidebarCollapse span {
        display: none;
    }
}

.sidebar .nav-item.dropdown .dropdown-toggle::after,
.topbar .nav-item.dropdown .dropdown-toggle::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;

}

.sidebar .nav-item .nav-link,
.topbar .nav-item .nav-link {
  position: relative;
}

.sidebar .nav-item .nav-link .badge-counter,
.topbar .nav-item .nav-link .badge-counter {
  position: absolute;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  right: .25rem;
  margin-top: -.25rem;
}

.sidebar .nav-item .nav-link .img-profile,
.topbar .nav-item .nav-link .img-profile {
  height: 2rem;
  width: 2rem;
}

.topbar {
  height: 4.375rem;
}

.topbar #sidebarToggleTop {
  height: 2.5rem;
  width: 2.5rem;
}

.topbar #sidebarToggleTop:hover {
  background-color: #eaecf4;
}

.topbar #sidebarToggleTop:active {
  background-color: #dddfeb;
}

.topbar .navbar-search {
  width: 25rem;
}

.topbar .navbar-search input {
  font-size: 0.85rem;
}

.topbar .topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
}

.topbar .nav-item .nav-link {
  height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0.75rem;
}

.topbar .nav-item .nav-link:focus {
  outline: none;
}

.topbar .nav-item:focus {
  outline: none;
}

.topbar .dropdown {
  position: static;
}

.topbar .dropdown .dropdown-menu {
  width: 300px;
  right: 0.75rem;
}

.topbar .dropdown-list {
    padding: 0;
    border: none;
    overflow: hidden;
  }
  
  .topbar .dropdown-list .dropdown-header {
    background-color: #4e73df;
    border: 1px solid #4e73df;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #fff;
  }
  
  .topbar .dropdown-list .dropdown-item {
    white-space: normal;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-left: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
    line-height: 1.3rem;
  }
  
  .topbar .dropdown-list .dropdown-item .dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
  }
  
  .topbar .dropdown-list .dropdown-item .dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
  }
  
  .topbar .dropdown-list .dropdown-item .dropdown-list-image .status-indicator {
    background-color: #eaecf4;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0.125rem solid #fff;
  }
  
  .topbar .dropdown-list .dropdown-item .text-truncate {
    max-width: 10rem;
  }
  
  .topbar .dropdown-list .dropdown-item:active {
    background-color: #eaecf4;
    color: #3a3b45;
  }

  .btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
    margin:0 10px;
    
}

.DroneManage .list-group-item {padding:0.25rem 0;}

.inputfile {display:none;}